body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    background: url('assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}

.cursor {
    position: fixed;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    transition: transform 0.1s ease-out;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 9999;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.search-bar {
    color: #909090;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 1.5rem;
    background: rgba(35, 35, 35, 0.90) url('assets/Search.png') no-repeat 95% center;
    background-size: 5%;
    width: 25%;
    height: 3rem;
    flex-shrink: 0;
    font-size: 1.5rem;
    border: none;
    outline: none;
    margin-left: 5%;
}

.search-bar::before {
    content: "\1F50D";
    font-size: 1.25rem;
    color: #0d0d0d;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

body:hover .cursor {
    transform: translate(-50%, -50%) scale(3);
}

.logo-container {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 10;
}

.logo {
    width: 13vw;
    height: auto;
}

.svg-container {
    position: absolute;
    top: 50%;
    left: -35%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 0;
}

#rotating-svg {
    width: 110rem;
    height: 110rem;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes glowAndFlip {
    0% {
        opacity: 1;
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0 auto;
    gap: 10%;
    animation: glowAndFlip 4s ease-in-out forwards infinite;
    animation-delay: 0.5s;
    opacity: 0;
    height: 10rem;
}

.svg-cont {
    width: 90rem;
    height: auto;
}

.svg-cont svg {
    width: 100%;
    height: auto;
}

.description {
    font-size: 2rem;
    font-weight: medium;
    z-index: 1;
    text-align: left;
    max-width: 30rem;
    position: fixed;
}

.bottom-left-text {
    position: absolute;
    bottom: 20px;
    left: 50px;
    z-index: 10;
    font-size: 1.5em;
    font-weight: medium;
    color: rgba(255, 255, 255, 0.553);
}
